{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Fournisseur
{% endblock %}

{% block content %}

    <p>Nom du fournisseur : {{ supplier.name }}</p>
    <p>Description : {{ supplier.description }}</p>
    <p>Produit : {{ supplier.product.title }}</p>
    <p>Image du produit : {{ supplier.image }}</p>



{% endblock %}
