{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Vue catégorie
{% endblock %}

{% block content %}


    <p>Légende : {{ slider.caption }}</p>
    <p>Image : {{ slider.image }}</p>
    <p>Produit associé : {{ slider.product}}</p>





{% endblock %}