
{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Vue catégorie
{% endblock %}

{% block content %}

    <p>Nom de catégorie : {{ category.title }}</p>
    <p>Description : {{ category.description }}</p>
    <p>Bijoutier : {{ category.jeweler }}</p>


{% endblock %}




